.wrapper {
  height: 70.4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  width: 100%;
  padding: 16px 0;
  z-index: 1;
}

.homePage {
  font-size: 19.6px;
  font-weight: 700;
}

.nav {
  display: flex;
  width: 361.4px;
  list-style: none;
  font-size: 12.8px;
  justify-content: space-between;
}

.navItem {
}

.navLink {
}

.navLink:hover {
  color: #f06161;
  transition: all ease-in-out 0.3s;
}

.tools {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.selectUnits {
  padding: 1px 3px;
}

.unitsList {
  position: absolute;
  width: 98px;
  background-color: #000;
  color: #fff;
  top: 54px;
  left: -28px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  /* display: none; */
}

.unit {
  height: 62.4px;
  line-height: 62.4px;
}

.cart {
  padding: 4px 4px 0;
}
