.wrapper {
  height: 70.4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  width: 100%;
  padding: 16px 0;
  z-index: 1;
}

.homePage {
  font-size: 19.6px;
  font-weight: 700;
}

.nav {
  display: flex;
  width: 361.4px;
  list-style: none;
  font-size: 12.8px;
  justify-content: space-between;
  text-transform: uppercase;
}

.navItem {
}

.navLink {
}

.navLink:hover {
  color: #f06161;
  transition: all ease-in-out 0.3s;
}

.tools {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.selectUnits {
  padding: 1px 3px;
}

.arrowUp svg {
  transform: rotate(180deg);
}

.unitsList {
  position: absolute;
  width: 98px;
  top: 55px;
  left: -28px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.unit {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  height: 62.4px;
  line-height: 62.4px;
}

.unit:hover {
  background-color: #000;
}

.cartIcon {
  padding: 4px 4px 0;
}

.cartStatusBox {
  position: absolute;
  top: 66px;
  left: -288px;
  right: -20px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 16px;
  cursor: default;
}

.cartStatus {
  font-weight: 700;
  padding: 16px;
  margin-bottom: 20px;
}
