.wrapper {
  position: fixed;
  bottom: 3%;
  right: 2%;
}

.chatbotIcon:hover {
  color: #000;
}

.chatbotIcon {
  font-size: 32px;
  background-color: #ccc;
  color: #fff;
  padding: 0.8rem 1.5rem 0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.chatbotGPT {
  position: fixed;
  height: 400px;
  width: 300px;
  bottom: 10%;
  right: 7%;
}
