.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
  gap: 6rem 2rem;
}

.item {
  padding: 20px 16px;
}

.item:hover {
  box-shadow: 0px 20px 20px 2px #ccc;
}

.itemImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 330px;
}

.itemInfo {
  height: 14rem;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.itemName {
  text-align: center;
  font-weight: 600;
}

.addToCartBtn {
  padding: 0.8rem 2rem;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.addToCartBtn:hover {
  background-color: #000;
  color: #fff;
}
