.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 560px);
  gap: 5px 5px;
}

.item1 {
  grid-column: 1 / 4;
  background: url(../../../../assets/images/gridOne.jpeg) no-repeat center;
  background-size: cover;
  position: relative;
}

.item2 {
  grid-column: 4 / 6;
  background: url(../../../../assets/images/gridTwo.jpeg) no-repeat center;
  background-size: cover;
  position: relative;
}

.item3 {
  grid-column: 1 / 3;
  background: url(../../../../assets/images/gridThree.jpeg) no-repeat center;
  background-size: cover;
  position: relative;
}

.item4 {
  grid-column: 3 / 6;
  background: url(../../../../assets/images/gridFour.jpeg) no-repeat center;
  background-size: cover;
  position: relative;
}

.item5 {
  grid-column: 1 / 6;
  background: url(../../../../assets/images/gridFive.jpeg) no-repeat center;
  background-size: cover;
  position: relative;
}

.itemBtn {
  justify-content: space-around;
  letter-spacing: 1px;
  position: absolute;
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: all ease-in-out 0.5s;
}

.btnTitle {
  transition: all ease-in-out 0.5s;
}

.btnArrow {
  position: absolute;
  transform: translateY(2px);
  color: rgba(255, 255, 255, 0);
  top: 0;
  right: 0;
  transition: all ease-in-out 0.5s;
}

.itemBtn:hover {
  background-color: #ccc;
  transition: all ease-in-out 0.5s;
}

.itemBtn:hover .btnTitle {
  transform: translateX(-16px);
  transition: all ease-in-out 0.5s;
}

.itemBtn:hover .btnArrow {
  color: #000;
  display: block;
  right: 16px;
  transition: all ease-in-out 0.5s;
}

.item1 .itemBtn {
  top: 85%;
  left: 10%;
}

.item2 .itemBtn {
  top: 85%;
  left: 20%;
}

.item3 .itemBtn {
  top: 85%;
  left: 10%;
}

.item4 .itemBtn {
  top: 85%;
  left: 70%;
}

.item5 .itemBtn {
  top: 10%;
  left: 80%;
}
